<!DOCTYPE html>
<html>
<head>
  <title>Attandance</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="/products">Product</a></li>
            <li><a href="/tranings">Categori</a></li>
            <li><a href="">Vidio</a></li>
            <li><a href="/transactions">Transaksi</a></li>
            <li><a href="/attandance">Attandance</a></li>
        </ul>
    </div>
    <div class="content">
        
        <h1>Attandance Member</h1>
        <a href='/attandance/formcreate' class="btn btn-primary">Create</a>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name Member</th>
                    <th>Date Attandance</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                    <% attandance.forEach((attandance, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= attandance.id %></td>
                    <td><%= attandance.name %></td>
                    <td><%= attandance.date_attandance %></td>
                    <!-- <td>
                        <button type="button" class="btn btn-primary" href="">Detail</button>
                    </td> -->
                  </tr>
                <% }); %>
                </tbody>
        </table>
    </div>
</body>
</html>
