<!DOCTYPE html>
<html>
<head>
  <title>Transactions</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="/products">Product</a></li>
            <li><a href="/tranings">Categori</a></li>
            <li><a href="">Vidio</a></li>
            <li><a href="/transactions">Transaksi</a></li>
            <li><a href="/attandance">Attandance</a></li>
        </ul>
    </div>
    <div class="content">
        
        <h1>Welcome Admin</h1>
 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
