<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar">
        <h1>Win Fitnes</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </nav>

    <div class="content">
        <h2>Welcome to Our Product Page</h2>
        
        <div class="card">
            <h3>Product Name</h3>
            <h3>Duration</h3>
            <p>Price</p>
            <button>Buy Now</button>
        </div>
        
        <div class="card">
            <h3>Product Name</h3>
            <h3>Duration</h3>
            <p>Price</p>
            <button>Buy Now</button>
        </div>
        
        <div class="card">
            <h3>Product Name</h3>
            <h3>Duration</h3>
            <p>Price</p>
            <button>Buy Now</button>
        </div>

        <div class="card">
            <h3>Product Name</h3>
            <h3>Duration</h3>
            <p>Price</p>
            <button>Buy Now</button>
        </div>

        
    </div>
    <div class="content">
        <h2>Training Vidio Category</h2>
        
        <div class="card">
            <h3>Name Categori</h3>
            <button>View Vidio</button>
        </div>
        
        <div class="card">
            <h3>Name Categori</h3>
            <button>View Vidio</button>
        </div>
        
        <div class="card">
            <h3>Name Categori</h3>
            <button>View Vidio</button>
        </div>
    </div>
</body>
</html>