<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="/products">Product</a></li>
            <li><a href="/tranings">Categori</a></li>
            <li><a href="">Vidio</a></li>
            <li><a href="/transactions">Transaksi</a></li>
            <li><a href="/attandance">Attandance</a></li>
        </ul>
    </div>
    <div class="content">   
       <form action="/tranings/create" method="POST">
            <h1>CREATE CATEGORI TRANING</h1>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name Product</label>
                <div class="col-sm-10">
                    <input type="text" id="name_category_traning" name="name_category_traning" class="form-control"  placeholder="Categori Name" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
       </form>
    </div>
</body>
</html>
