<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="#">Product</a></li>
            <li><a href="#">Categori</a></li>
            <li><a href="#">Vidio</a></li>
            <li><a href="#">Transaksi</a></li>
            <li><a href="#">Attandance</a></li>
        </ul>
    </div>
    <div class="content">
        
        <h1>Categori Traning</h1>
        <a href='' class="btn btn-primary">Create</a>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <% traning.forEach((traning, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= traning.name_category_traning %></td>

                    <td>
                        <button type="button" class="btn btn-primary" href="">Edit</button>
                        <a class="btn btn-danger" href="" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                    </td>
                  </tr>
                <% }); %>
                </tbody>
        </table>
    </div>
</body>
</html>
